@media print {
  body {
    background: none;
    background-color: #fff;
    font-family: Montserrat!important;
  }

  @page {
    counter-increment: page;
    size: a4 portrait;
    margin: 10mm 10mm 15mm 10mm!important;

    @top-right {
        content: var(--author-logo);
        height: 25px!important;
        width: 50px!important;
        max-width: 70px!important;
    }

    @top-left {
        content: var(--chapter)!important;
        font-size: 9pt;
        font-family: Montserrat!important;
    }
    @bottom-center {
        content: var(--type)!important;
        font-size: 10pt;
        font-weight: 600;
        font-family: Montserrat!important;
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages)!important;
        font-size: 8pt;
        font-family: Montserrat!important;
    }
    @bottom-left {
        content: var(--site-url);
        font-size: 8pt;
        font-family: Montserrat!important;
    }
  }

  h2[id], h3[id] {
    page-break-after: avoid !important;
  }
  h4[id], h5[id], h6[id] {
    page-break-before: avoid !important;
    page-break-after: avoid !important;
  }

  img[src$=".png"], img[src$=".jpg"], img[src$=".jpeg"]{
    width: 70%;
    display: block;
    margin: auto;
    max-width: 100% !important;
  }

  img {
    page-break-after: avoid !important;
    break-after: avoid !important;
  }

  .md-typeset :is(.admonition, details){
    page-break-before: avoid !important;
    page-break-after: avoid !important;
  }

  code,
  kbd,
  pre {
     font-family: 'Fira Mono', monospace!important;
     page-break-inside: avoid !important;
     margin-top: 0 !important;
  }
  ul,
  ol {
     page-break-inside: avoid !important;
  }

  div[data-md-component="skip"],
  div[data-md-component="announce"],
  div[data-md-component="header"],
  label[class="md-overlay"] {
     display: none;
  }
}
