@media print {
  @page {
    counter-increment: page;
    size: var(--base-page-orientation);
    margin: 10mm 10mm 15mm 10mm;

    @top-right {
        content: var(--author-logo);
        height: 25px;
        width: 50px;
        max-width: 70px;
        font-family: var(--md-text-font), sans-serif;
    }

    @top-left {
        content: string(chapter);
        font-size: 9pt;
        font-family: var(--md-text-font), sans-serif;
    }
    @bottom-center {
        content: var(--type);
        font-size: 10pt;
        font-weight: 600;
        font-family: var(--md-text-font), sans-serif;
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        font-size: 8pt;
        font-family: var(--md-text-font), sans-serif;
    }
    @bottom-left {
        content: var(--site-url);
        font-size: 8pt;
        font-family: var(--md-text-font), sans-serif;
    }
  }

  @page rotated {
    size: var(--rotated-page-orientation);
  }

  .rotated-page {
    page: rotated;
    page-break-before: always;
    page-break-after: always;
  }

  .md-typeset h1 {
    display: none;
  }

  .md-typeset h2 {
    break-before: always;
  }

  .page-break {
    break-before: always;
  }

  code,
  kbd,
  pre {
    font-family: var(--md-code-font), monospace;
    margin-top: 0;
  }
}
