<h2 id="legal-information">Legal information</h2>

<h3 id="proprietary-information">Proprietary Information</h3>
<p>This section describes in detail the Proprietary Information.</p>

<h3>Disclaimer of Warranties & Limitations of Liabilities</h3>
<p>This section describes in detail the Disclaimer of Warranties & Limitations of Liabilities.</p>
